@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Poppins, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

/* remove scrollbar */
*::-webkit-scrollbar {
  width: 0;
}

/* book scrolling section scrollbar */
.book-scrolling-section::-webkit-scrollbar {
  margin-top: 10px;
  width: fit-content;
  height: 10px;
  background-color: #a47551;
  border-radius: 10px;
  opacity: 30%;
}

.book-scrolling-section::-webkit-scrollbar-thumb {
  background-color: #523a28;
  width: 10px;
  border-radius: 10px;
}
