@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('./themes.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;

  --icon-color: #523a28;
  --progress-bar-color: #d0b49f;

  --home-search-bar-height: 90px;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  min-height: 100dvh;
  min-height: -webkit-fill-available;
  display: flex;
  flex-grow: 3;
  /* dvh new height unit that exclude browser element */
}

.app-wrapper {
  min-height: auto;
}

/* remove scrollbar */
*::-webkit-scrollbar {
  width: 0;
}

.home-search-bar-height {
  height: var(--home-search-bar-height);
}

.home-layout-children-height {
  max-height: calc(100vh - var(--home-search-bar-height));
  max-height: calc(100dvh - var(--home-search-bar-height));
}

/* book scrolling section scrollbar */
.book-scrolling-section::-webkit-scrollbar {
  margin-top: 10px;
  width: fit-content;
  height: 10px;
  background-color: rgb(var(--color-background));
  border-radius: 10px;
  opacity: 30%;
}

.book-scrolling-section::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-primary));
  width: 10px;
  border-radius: 10px;
}

.category-section::-webkit-scrollbar {
  margin-top: 5px;
  width: fit-content;
  height: 5px;
  background-color: rgb(var(--color-background));
  border-radius: 10px;
  opacity: 30%;
}

.category-section::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-primary));
  /* width: 10px;    */
  border-radius: 10px;
}

.vertical-scroll::-webkit-scrollbar {
  margin-top: 5px;
  width: 5px;
  height: fit-content;
  background-color: rgb(var(--color-background));
  border-radius: 10px;
  opacity: 30%;
}

.vertical-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-primary));
  /* width: 10px;    */
  border-radius: 10px;
}

.admin-navbar {
  width: 300px;
}
