[data-theme='default'] {
  --color-primary: 82 58 40;
  --color-secondary: 164 117 81;
  --color-alt-secondary: 208 180 159;
  --color-background: 255 255 255;
  --color-alt-background: 82 58 40;
  --color-modal: 208 180 159;
  --icon-color: 164 117 81;
  --icon-color-active: 82 58 40;
  --text-color-primary: 82 58 40;
  --text-color-secondary: 164 117 81;
}

[data-theme='black'] {
  --color-primary: 0 0 0;
  --color-secondary: 40 40 40;
  --color-alt-secondary: 155 157 156;
  --color-background: 220 222 221;
  --color-alt-background: 1 1 1;
  --color-modal: 155 157 156;
  --icon-color: 164 117 81;
  --icon-color-active: 82 58 40;
  --text-color-primary: 0 0 0;
  --text-color-secondary: 241 238 227;
}

[data-theme='sky'] {
  --color-primary: 82 121 142;
  --color-secondary: 119 157 178;
  --color-alt-secondary: 241 241 241;
  --color-background: 221 237 242;
  --color-alt-background: 82 121 142;
  --color-modal: 182 216 227;
  --icon-color: 164 117 81;
  --icon-color-active: 82 58 40;
  --text-color-primary: 82 121 142;
  --text-color-secondary: 0 0 0;
}

[data-theme='matcha'] {
  --color-primary: 78 99 80;
  --color-secondary: 144 167 139;
  --color-alt-secondary: 241 238 227;
  --color-background: 228 230 217;
  --color-alt-background: 78 99 80;
  --color-modal: 196 206 181;
  --icon-color: 164 117 81;
  --icon-color-active: 82 58 40;
  --text-color-primary: 78 99 80;
  --text-color-secondary: 0 0 0;
}

[data-theme='taro'] {
  --color-primary: 142 132 169;
  --color-secondary: 182 168 201;
  --color-alt-secondary: 254 246 242;
  --color-background: 244 235 240;
  --color-alt-background: 142 132 169;
  --color-modal: 182 168 201;
  --icon-color: 164 117 81;
  --icon-color-active: 82 58 40;
  --text-color-primary: 116 93 121;
  --text-color-secondary: 0 0 0;
}

[data-theme='dracula'] {
  --color-primary: 45 50 80;
  --color-secondary: 66 70 105;
  --color-alt-secondary: 165 172 214;
  --color-background: 255 255 255;
  --color-alt-background: 45 50 80;
  --color-modal: 165 172 214;
  --icon-color: 164 117 81;
  --icon-color-active: 82 58 40;
  --text-color-primary: 45 50 80;
  --text-color-secondary: 0 0 0;
}
