[data-theme='default'] {
  --color-primary: 82 58 40;
  --color-secondary: 164 117 81;
  --color-alt-secondary: 208 180 159;
  --color-background: 235 235 235;
  --icon-color: 164 117 81;
  --icon-color-active: 82 58 40;
  --text-color-primary: 82 58 40;
  --text-color-secondary: 164 117 81;
}

[data-theme='muted-black'] {
  --color-primary: 38 38 38;
  --color-secondary: 241 238 227;
  --color-alt-secondary: 0 0 0;
  --color-background: 23 23 23;
  --icon-color: 164 117 81;
  --icon-color-active: 82 58 40;
  --text-color-primary: 255 255 255;
  --text-color-secondary: 241 238 227;
}

[data-theme='muted-blue'] {
  --color-primary: 78 141 153;
  --color-secondary: 0 0 0;
  --color-alt-secondary: 241 241 241;
  --color-background: 235 235 235;
  --icon-color: 164 117 81;
  --icon-color-active: 82 58 40;
  --text-color-primary: 78 141 153;
  --text-color-secondary: 0 0 0;
}

[data-theme='muted-gray'] {
  --color-primary: 200 197 187;
  --color-secondary: 0 0 0;
  --color-alt-secondary: 241 238 227;
  --color-background: 235 235 235;
  --icon-color: 164 117 81;
  --icon-color-active: 82 58 40;
  --text-color-primary: 200 197 187;
  --text-color-secondary: 0 0 0;
}

[data-theme='muted-yellow'] {
  --color-primary: 244 232 208;
  --color-secondary: 0 0 0;
  --color-alt-secondary: 250 243 238;
  --color-background: 235 235 235;
  --icon-color: 164 117 81;
  --icon-color-active: 82 58 40;
  --text-color-primary: 244 232 208;
  --text-color-secondary: 0 0 0;
}
